<%- include("partials/header.ejs") %>

<header>
    <h1>Book Reviews</h1>
</header>
<div class="main-container flex-vert">

<form id="myForm" class="flex-vert" action="/update" method="post">

    <input type="hidden" name="id" value="<%= review.id %>">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%= review.name %>">
    
    <label for="coverurl">Isbn: </label>
    <input type="text" name="isbn" id="isbn" value="<%= review.coverurl %>">

    <!-- <label for="date">Date: </label> -->
    <input type="hidden" name="date" id="date" value="<%= review.date %>">

    <label for="description">Description: </label>
     <textarea name="description" id="description" rows="4" cols="50"><%= review.description %></textarea>

    <label for="review">Review: </label>
    <textarea name="review" id="review" rows="8" cols="50"><%= review.review %></textarea>

    <label for="rating">Rating: </label>
    <input type="text" name="rating" id="rating" value="<%= review.rating %>">

    <input type="submit" class="submit" value="submit">
</form>

</div>