<%- include("partials/header.ejs") %>

<header>
    <h1>Book Reviews</h1>
</header>
<nav>
    <a class="view" href="/form/sort">Sort</a>
</nav>
<div class="main-container flex-vert">
<h2 class="header">Books</h2>

    <% if(locals.books) { %>
        <% books.forEach(book => { %>
            <div class="book flex-row">
                <div class="left">
                    <img src="<%= book.cover %>" alt="image of book cover" class="cover">
                </div>
                <div class="content flex-vert">
                    <div class="title">
                        <h2><%= book.name %></h2>
                    </div>
                    <div class="date-and-rating">
                        <div class="date">
                            <p>Date created: <%= book.date %></p>
                        </div>
                        <div class="rating">
                            <p>Rating: <%= book.rating %> /5</p>
                        </div>
                    </div>
                    <div class="description">
                        <p><%= book.description %></p>
                    </div>

                    <div class="flex-row icons">
                        <a class="view" href="/view/<%= book.id %>">Read More</a>
                        <div class="flex-row edit">
                             <a class="update" href="/edit/<%= book.id %>"><div class="fas fa-edit"></div></a>
                        <a class="delete" href="/delete/<%= book.id %>"><div class="fas fa-trash"></div></a>
                        </div>
                    </div>
                   
                    <!-- <form>

                    </form> -->
                </div>
            </div>
        <% }); %>
    <% } %>
</div>

<div class="add-form">
    <a class="create" href="/add">Create Review</a>
</div>